<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ wp_site_path }}

    <Directory {{ wp_site_path }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
